<p id="notice"><%= notice %></p>

<%= atf(:p, :name) do %>
  <strong>Name:</strong>
  <%= @team.name %>
<% end %>

<%= atf(:p, :competition) do %>
  <strong>Competition:</strong>
  <%= @team.competition %>
<% end %>

<%= atf(:p, :points) do %>
  <strong>Points:</strong>
  <%= @team.points %>
<% end %>

<%= atf(:p, :ranking) do %>
  <strong>Ranking:</strong>
  <%= @team.ranking %>
<% end %>

<%= link_to 'Edit', edit_team_path(@team), action_for(:edit) %> |
<%= link_to 'Back', teams_path, action_for(:back) %>
